*{
    margin: 0;
    padding: 0;
    font-family: cormorant-garamond,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-brand h1{
    color: #fff;
    text-transform: uppercase;
}

#navbar.navbar-light.bg-transparent {
    background-color: transparent !important;
}

/* Add styles for the black navbar on scroll */
#navbar.navbar-light.bg-dark {
    background-color: #000 !important;
}

/* Add styles for the white text on navbar links */
#navbar.navbar-light .navbar-nav .nav-link.text-white {
    color: #fff !important;
}

.nav-link{
    text-transform: uppercase;
    color:#fff !important;
    font-size: 12px;
    letter-spacing: 2px;
}

@media (max-width: 768px) {

    #navbar.navbar-light.bg-transparent {
        background-color: #A8A8A7 !important;
        color: #fff;
    }

}

@media (max-width: 500px) {

    #navbar.navbar-light.bg-transparent {
        background-color: #A8A8A7 !important;
        color: #fff;
    }

    .navbar-brand h1{
        font-size: 19px;
    }
    
}